@font-face {
  font-family: crash;
  src: url("./fonts/crash-a-like.ttf");
}

* {
  box-sizing: border-box;
}

html {
  --color-uno: #FDF033;
  --color-dos: #6EA866;
  --color-tres: #CD1F1E;
  --color-cuatro: #FF7C08;
  --color-cinco: #f4fbff;


}

body {
  padding: 0;
  margin: 0;

}

header {
  background-color: rgba(194, 194, 194, 0.693);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

#naughty_dog {
  height: 2.5rem;
}

nav {
  display: flex;
  gap: 2rem;
}

nav a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  padding-top: 5px;
  padding-right: 20px;

}

/*.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  padding-top: 1rem;
}

.animate__animatedanimate.animate__bounceIn {
  --animate-duration: 2.5s;
} */

.descripcion {
  display: flex;
  flex-direction: column;
  background-color: var(--color-tres);
  padding: 2rem 2rem;

}

.descripcion h2 {
  font-family: crash;
  font-weight: lighter;
  font-size: 2rem;
  color: var(--color-cinco);
  margin: 0;
}

.descripcion h1 {
  color: var(--color-uno);
  font-family: crash;
  font-weight: lighter;
  font-size: 12rem;
  margin: 0;
}

.descripcion p {
  font-family: 'Courier New', Courier, monospace;
  color: var(--color-cinco);
  max-width: 33%;
  margin: 0;
}