@font-face {
  font-family: crash;
  src: url("./fonts/crash-a-like.ttf");
}

*{
  box-sizing: border-box;
}

html {
  --color-uno: #FDF033;
  --color-dos: #6EA866;
  --color-tres: #a52a2a;
}

body {
  padding: 0;
  margin: 0;
}

header {
  background-color: brown;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#naughty_dog {
  height: 2.5rem;
}

nav {
  display: flex;
  gap: 2rem;
}

nav a {
  color: var(--color-uno);
  font-size: 2rem;
  font-family: crash;
  text-decoration: none;
  background-image: url(./imgs/tablon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  padding:0 50px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  padding-top: 1rem;
}

.animate__animatedanimate.animate__bounceIn {
  --animate-duration: 2.5s;
}

.descripcion {
 display: block;
 max-width: 30%;
 margin-left: 2rem;
}

.descripcion .titulo {
  text-align: justify;
  font-family: crash;
  font-weight: lighter;
  font-size: 2rem;
}

.descripcion .titulo span {
color: var(--color-uno);
font-size: 5rem;
text-align: end;
}

.descripcion p {
  text-align:justify;
}



