@font-face {
  font-family: crash;
  src: url("./fonts/crash-a-like.ttf");
}

*{
  box-sizing: border-box;
  font-family: crash;
}

html {
  --color-uno: #FDF033;
  --color-dos: #6EA866;
  --color-tres: #a52a2a;
}

body {
  padding: 0;
  margin: 0;
}

header {
  background-color: brown;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#naughty_dog {
  height: 2.5rem;
}

nav {
  display: flex;
  gap: 2rem;
}


nav a {
  color: var(--color-uno);
  font-size: 2rem;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  background-color: var(--color-tres);
}

.logo img {
  padding-top: 1rem;
}

.animate__animatedanimate.animate__bounceIn {
  --animate-duration: 2.5s;
}

