@font-face {
  font-family: crash;
  src: url("./fonts/crash-a-like.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --color-amarillo: #fdf033;
  --color-verde: #6ea866;
  --color-rojo: #a52a2a;
  --color-blanco: #fbf8f8;
  --color-naranja: #FEBA2B;
  --color-rojo-trans: rgba(165, 42, 42, 0.9);
}

body {
  padding: 0;
  margin: 0;
  background-image: url(./imgs/fondo.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: var(--color-rojo-trans);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

header * {
  opacity: 1;
}

#naughty_dog {
  height: 2.5rem;
}

nav {
  display: flex;
  gap: 2rem;
}

nav a {
  color: var(--color-amarillo);
  font-size: 2rem;
  font-family: crash;
  text-decoration: none;
  background-image: url(./imgs/tablon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 50px;
}

nav a:hover {
  color: var(--color-naranja);
}

.logo {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.animate__animatedanimate.animate__bounceIn {
  --animate-duration: 2.5s;
}

.bienvenido {
  display: flex;
  align-items: center;
}

.bienvenido .durazno {
  height: 10rem;
  transition: transform 0.5s;
}

.bienvenido .durazno:hover {
  transform: scale(1.2);
}

.bienvenido .durazno:last-child {
  margin-right: auto;
}

.bienvenido .descripcion {
  display: block;
  max-width: 40%;
  background-color: rgba(30, 30, 30, 0.7);
  border-radius: 10px;
  padding: 1rem;
  margin-left: 3rem;
  margin-right: auto;
}

.bienvenido .descripcion .titulo {
  color: var(--color-blanco);
  text-align: center;
  font-family: crash;
  font-weight: lighter;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.bienvenido .descripcion .titulo span {
  color: var(--color-amarillo);
  font-size: 4rem;
}

.bienvenido .descripcion p {
  font-family: "Courier New", Courier, monospace;
  color: var(--color-blanco);
  text-align: justify;
}

.historia {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  margin-bottom: 10rem;
  background-color: rgba(30, 30, 30, 0.7);
  border-radius: 10px;
}

.historia h2 {
  font-family: crash;
  color: var(--color-blanco);
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}

.historia .trilogia {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem 0;
}

.historia .trilogia img {
  height: 200px;
  transition: transform 0.5s;
}

.historia .trilogia img:hover {
  transform: scale(1.2);
}

.historia a {
  text-align: end;
  text-decoration: none;
  color: var(--color-amarillo);
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
}

.historia a:hover {
  color: var(--color-naranja);
}

.separacion {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  height: 100px;
  background-image: url(./imgs/tablon2.jpg);
  justify-content: space-between;
  
}

.separacion::before {
  background-image: url(./imgs/soga.png);
  background-repeat: repeat-x;
  top: -10px;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.separacion::after {
  background-image: url(./imgs/soga.png);
  background-repeat: repeat-x;
  bottom: -10px;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.separacion .aku-aku {
  height: 200px;
  margin-top: -70px;
}

.video {
  display: flex;
  justify-content: center;
  height: 600px;
  background-image: url(./imgs/fondo-trilogia.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.video iframe {
  padding-top: 9rem;
  padding-left: 4rem;
  width: 650px;
  height: 500px;
}

